/*
--------------------------------------------------------------------------------
Modal Overrides
--------------------------------------------------------------------------------
*/

// Modals

// Padding applied to the modal body
$modal-inner-padding:               0 !default; //changed
$modal-content-border-width:        0 !default; //changed
$modal-content-border-radius:       0 !default; //changed
