{#
/**
 * @file
 * text
 *
 * Available variables for text:
 *  - text.variable_name [variable_type]: Description of the variable. Example below.
 *  - text.invert [bool]: When set, colors will be inverted for light display on dark background.
 */
#}

<div class="text">
  <h1>text</h1>
  <div>Do good work!</div>
  <div>Example scoped variable: <code>{{ text.example_var }}</code></div>
</div>
