{% embed '@atoms/grid/_grid-1-up.twig' %}
  {% set container = true %}

  {% block column_1 %}

    <h1 class="mb-3">Footer</h1>

    <hr>
  {% endblock %}
{% endembed %}

{% include '@organisms/footer/_footer.twig' %}
