{#
/**
 * @file
 * section
 *
 * Available variables for section:
 *  - section.variable_name [variable_type]: Description of the variable. Example below.
 *  - section.invert [bool]: When set, colors will be inverted for light display on dark background.
 */
#}

<div class="lightbox">
  {% block content %}

  {% endblock %}
</div>
